@media screen and (max-width: 640px) {
    .logo {
      width: 100px;
    }
  }
  
  @media (min-width: 641px) and (max-width: 1024px) {
    .logo {
    width: 150px;
    height: 0px;
    margin-top: -40px;
  }
}
@media screen and (min-width: 1025px) {
    .logo{
        width: 250px;
        height: 150px;
        margin-top: -110px;
        margin-left: -130px;
    }
}
